include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/ui_universidad *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/ui_universidad/migration *.ini *.py *.mako
